body{
    background-color: rgb(223, 223, 223);  


}

h1{
    font-size: 60px; 
    text-align: left;
    color: orangered; 

}

h2{
    text-align: left ;
    color: white; 
   
}

.cent{
          
    font-size: 40px; 
    color: black; 
    text-align: center;
}


.segun{
  
    font-size: 30px; 
    color: rgb(3, 19, 2); 
    text-align: center;
}

.tercer{
  
    font-size: 30px; 
    color: rgb(8, 37, 5); 
    
}

.carousel{

    font-size: 30px; 
    color:white; 
    text-align: center;
}

.card{

    color: orangered;
    text-align: center;
    margin: 5px;

}



